{erl_opts, [debug_info]}.

{overrides, [
      {
        del, 
         [{erl_opts, [warnings_as_errors]}] 
      }
]
}.

{deps, [
        {cowboy, "2.6.1"},
        {recon, "2.4.0"},
        {eper, "0.99.1"},
        %{ex_bench, "0.2.9"},
        {ex_bench,   {git, "git@github.com:bryanhuntesl/ex_bench.git", {branch, "master"}}},

        {gen_stage, {hex, "gen_stage" ,"1.4.0"}},
        %{gen_stage, "~> 0.14"},
        {poolboy, "~> 1.5"},


        {opencensus, {git, "git@github.com:census-instrumentation/opencensus-erlang", {branch, "master"}}},
        {opencensus_erlang_prometheus, {git, "git@github.com:opencensus-beam/opencensus-prometheus", {branch, "master"}}},
        {eflame, {git, "git@github.com:esl/eflame.git", {tag, "master"}}},
        prometheus, 
        prometheus_httpd
]}.

%% {plugins, [rebar3_auto,rebar_mix]}.
%%{plugins, [rebar_mix]}.

%%{plugins, [
%%     {rebar_mix, ".*", {git, "https://github.com/tsloughter/rebar_mix.git", {branch, "master"}}}
%%]}.


{plugins, [
    {rebar3_elixir, ".*", {git, "https://github.com/bryanhuntesl/rebar3_elixir.git", {branch, "master"}}}
]}.

%% {provider_hooks, [
%%   {pre,  [{compile, {mix, find_elixir_libs}}]},
%%   {post, [{compile, {mix, consolidate_protocols}}]}
%% ]}.

{relx, [{release, { poc_cowboy_oc, "0.1.0" },
         [
          poc_cowboy_oc,
          sasl,
          recon,
          eper,
          opencensus,
          opencensus_erlang_prometheus,
          prometheus, 
          prometheus_httpd,
          eflame
        ]},

        {sys_config_src, "config/sys.config.src"},                                                                                                                                
        {vm_args_src, "./config/vm.args.src"},    

        %% {overlay, [{copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
